.Sidedrawer{
	width: 240px;
	max-width: 70%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	display: block;
	background-color: white;
	margin: 0%;
	z-index: 700;
	transition: transform 1s ease;
	
}

@media (min-width: 500px){
	.Sidedrawer{
		display: none;
	}
}

.Open{
	transform: translateX(0%);
}
.Close{
	transform: translateX(-100%);
}

.Logo{
	height: 10%;
	margin-bottom: 10px;
}




